.row
  .column.small-12
    %h2
      = ELO_APP_NAME
      Club's
    %p
      Click on a Club to join or start your own!
    = link_to 'Start a Club', new_club_path, class: 'button expanded'
  .row
    - @clubs.each do |club|
      .column.small-12.medium-4.large-4.left
        = link_to club, class: 'grid text-center' do
          %p.club-name
            = club.name
          %p.member-count
            Members:
            = club.players.count
    .column.small-12.medium-4.large-4
      = link_to players_path , class: 'grid text-center' do
        %p.club-name
          All Players
        %p.member-count
          Members:
          = @player_count

