%tr{id: "game-#{game.id}", align: 'center'}
  %td.winner
    = link_for game.winner
    (#{game.winner_rating})
  %td.loser
    = link_for game.loser
    (#{game.loser_rating})
  %td.date
    = game.created_at.strftime("%I:%M %p %m/%d/%y")
