%div{"data-role" => "header"}
  %h1 All Players 
%div{"data-role" => "content"}
  %table.ui-responsive.ui-shadow{"data-role" => "table", "align" => "center", "width" => "100%"}
    %thead
      %tr
        %th
          Rank
        %th
          Name
        %th
          Rating
        %th
          Win-Lost
    - @players.each_with_index do |player, index|
      %tr{"align"=>"center"}
        %td
          = index + 1 
        %td
          = player.name 
        %td
          = player.rating
        %td
          = "#{player.games_won}/#{player.games_lost}"
