%h2 Add a New Player
= form_for :player, url: players_path do |f|
  %p
    = f.label :name
    %br
    = f.text_field :name

  %p
    = f.number_field :rating, hidden: true, value: 1000
    

  %p
    = f.submit

