%table{width: '100%'}
  %caption
    = @tournament.name
    = "(#{@tournament.type.titleize})"
    Results
    .tournament-subcaption
      - if @tournament.expired?
        %p
          Tournament ended on
          = @tournament.end_date.strftime('%m/%d/%Y')
      - else
        %p
          Click name to see remaining matches
        %p
          Tournament runs until
          = @tournament.end_date.strftime('%m/%d/%Y')
  %thead
    %tr
      %th
        Player
      %th
        Rating
      %th
        Points
  %tbody
  - @tournament.players.each do |player|
    %tr
      %td
        = link_to player.name, player_path(player)
      %td
        = player.rating
      %td
        = @tournament.match_points_for player
