%table{ 'width' => '100%', 'border' => '1' }
  %caption
    = tournament.name
    = "(#{tournament.tournament_type.titleize})"
  %thead
    %tr
      %th
        Player
      - players.each do |player|
        %th
          = player.name

  %tbody
    - players.each_with_index do |primary, index|
      %tr
        %td
          = link_to primary.name, player_path(primary)
        - players.each do |secondary|
          - if primary == secondary
            %td.empty-table-data
          - else
            %td.text-center
              - matchup = tournament.matchups.for_players(primary, secondary)
              - if matchup && matchup.winner
                = link_to "#{matchup.winner  == primary ? '1' : '0'}", matchup
              - elsif tournament.expired?
                N.A.
              - else
                = link_to 'Play', edit_matchup_path(matchup)
