.row
  .large-12.columns
    %h3
      = @tournament.name
      = "(#{@tournament.tournament_type.titleize})"
      = @tournament.players.count
      Players
    - if @tournament.winners_bracket.last.winner
      %p.first
        1st place:
        = single_elim_winner(@tournament)
      %p.second
        2nd place:
        = single_elim_runner_up(@tournament)
    - if @tournament.losers.winner
      %p.third
        3rd place:
        = @tournament.losers.winner&.name
      %p.fourth
        4th place:
        = @tournament.losers.loser&.name
    - else
      %strong
        Third Place Playoff
      %p
        = link_for_bracket_matchup(@tournament.losers)
.row
  .large-12.columns
    .bracket-single
      %main#tournament
        - @tournament.single_bracket_by_round.each do |round|
          %ul.round
            %li.spacer  
            - round.each do |match|
              %li.game.game-top
                = show_primary(match)
              %li.game.game-spacer  
              %li.game.game-bottom
                = show_secondary(match)
              %li.spacer  
        %ul.round
          %li.game.game-top
            .winner
              = final_round_link(@tournament)

