.row
  .large-12.columns
    %h3
      = @tournament.name
      = "(#{@tournament.tournament_type.titleize})"
      = @tournament.bracket_matchups.count
.row
  .large-12.columns
    %main#tournament
      - @tournament.single_bracket_by_round.each do |round|
        %ul.round
          %li.spacer  
          - round.each do |match|
            %li.game.game-top
              = primary_foo(match)
            %li.game.game-spacer  
            %li.game.game-bottom
              = secondary_foo(match)
            %li.spacer  
      %ul.round
        %li.game.game-top

