.row
  .large-12.columns
    %h3
      = @tournament.name
      = "(#{@tournament.tournament_type.titleize})"
      = @tournament.players.count
      Players

    - if @tournament.winners_bracket.last.winner || @tournament.losers.winner
      %table{width: '100%'}
        %thead
          %tr
            %th
              Rank
            %th
              Player
            %th
              Rating
        %tbody
        - if @tournament.winners_bracket.last.winner
          - player1 = single_elim_winner(@tournament)
          %tr
            %td
              = 1.ordinalize
            %td.first
              = link_for player1
            %td
              = player1.rating
          %tr
            %td
              = 2.ordinalize
            %td.second
              = link_for single_elim_runner_up(@tournament)
            %td
              = single_elim_runner_up(@tournament).rating
        - if @tournament.losers.winner
          %tr
            %td
              = 3.ordinalize
            %td.third
              = link_for @tournament.losers.winner
            %td
              = @tournament.losers.winner.rating
          %tr
            %td
              = 4.ordinalize
            %td.fourth
              = link_for @tournament.losers.loser
            %td
              = @tournament.losers.loser.rating
    - if @tournament.losers.ready?
      %strong
        Third Place Playoff
      %p
        = link_for_bracket_child(@tournament.losers)

.row
  .large-12.columns
    .bracket-single
      %main#tournament
        - @tournament.single_bracket_by_round.each do |round|
          %ul.round
            %li.spacer  
            - round.each do |match|
              %li.game.game-top
                = show_primary(match)
              %li.game.game-spacer  
              %li.game.game-bottom
                = show_secondary(match)
              %li.spacer  
        %ul.round
          %li.game.game-top
            .winner
              = final_round_link(@tournament)

