.row
  .small-12.large-6.columns
    %h1
      = @tournament.name
.row
  .small-12.large-6.columns
    = render 'current_results'
.row
  .small-12.large-6.columns

= form_for @tournament do |f|
  .row
    .small-12.large-6.columns
      = f.label :name, 'Enter Tournament Name'
      = f.collection_select :players, @potential_players, :id, :name
  %p
    = f.submit 'Join', class: ' expand button'

