%h3 Setup a New Tournament

= form_for @tournament do |f|
  .row
    .small-12.large-6.columns
      = f.label :name, 'Enter Tournament Name'
      = f.text_field :name, autofocus: true
      = f.label :end_date, 'Tournament End Date'
      = f.date_field :end_date, id: 'datepicker'
      = f.label :type, 'Tournament Type'
      - Tournament::TYPES.each_with_index do |type, index|
        = check_box_tag "tournament_#{type}", type, false, name: "tournament[type]"
        = label_tag "tournament_#{type}", type.titleize, class: "button secondary expanded", id: "label_#{type}"
      %br
      = f.label :tournament_players, 'Tournament Players'
      - all_players.each_with_index do |player, index|
        = check_box_tag "tournament[players][#{index}]", player.id, false, name: "tournament[players][]"
        = label_tag "tournament_players_#{index}", player.name, class: "button secondary expanded", id: "label_players_#{index}"
  %br
    .row
      .small-12.large-6.columns
        = f.submit 'Create Tournament', class: 'button expanded'
