.row
  .small-12.large-12.columns
    %h3 Setup a New Tournament

    = form_for @tournament do |f|
      = f.label :name, 'Enter Tournament Name'
      = f.text_field :name, autofocus: true
      = f.label :end_date, 'Tournament End Date'
      = f.date_field :end_date, id: 'datepicker'
      = f.label :type, 'Tournament Type'
      - Tournament::TYPES.each_with_index do |type, index|
        = check_box_tag "tournament_#{type}", type, false, name: "tournament[type]"
        = label_tag "tournament_#{type}", type.titleize, class: "button secondary expanded", id: "label_#{type}"
      %br
      = label_tag :clubs, 'Clubs'
      = select_tag 'club', options_from_collection_for_select(Club.all, 'id', 'name', 1), class: 'club-dropdown'
      %br
      = f.label :tournament_players, 'Tournament Players'
      .player-checkboxes
        = render partial: 'tournament_players_checkboxes', locals: { players: all_players }
      %br
      = f.submit 'Create Tournament', class: 'button expanded'
