%h3
  = @tournament.name

%table{width: '100%'}
  %thead
    %tr
      %th
        Player
      - @players.each do |player|
        %th
          = player.name

    %tbody
      - @players.each do |primary|
        %tr
          %td
            = primary.name
            = "(#{primary.rating})"
          - @players.each do |secondary|
            - if primary == secondary
              %td
                X
            - else
              %td
                - @matchup = @tournament.matchups.for_players(primary, secondary)
                - byebug
                - if @matchup && @matchup.winner
                  = @matchup.winner == primary.id ? '1' : '0'
                - else
                  = link_to 'Play', new_tournament_matchup_path(@tournament, {players: [primary, secondary] })
