= render partial: 'players/profile_topbar', locals: { player: @primary }
.row
  .columns.small-6
    .pvp-title
      %h2.text-center
        = @primary.name
      %h2.text-center
        vs.
      %h2.text-center
        = @secondary.name
  .columns.small-6
    .profile-circles
      .circle.big-circle.float-center.pvp-percent
        %p.center-of-circle-big
          = @stat.winner_percent
      %p.text-center
        = "#{@stat.primary_games}(w) - #{@stat.secondary_games}(L)"

.row
  .column.small-12
    %label
      Win-Loss Ratio Per Month
    #player-vs-player-graph
      %canvas#player-vs-player{'data-primary-id' => @primary.id, 'data-secondary-id' => @secondary.id }

%table{width: '100%'}
  %caption
    Past Games(#{@stat.games.count})
  %thead
    %tr
      %th
        Humble Victor
      %th
        Graceful Defeated
      %th
        Date
  %tbody
    = render @games

= paginate @games
