= form_for(matchup) do |f|
  = hidden_field_tag :primary_id, matchup.primary_id
  = hidden_field_tag :secondary_id, matchup.secondary_id
  - 1.upto(5) do |game_number|
    .row
      %p.small-1.columns
        = game_number
      - matchup.players.each do |player|
        .small-5.large-4.columns
          = radio_button("games", game_number, player.id )
          = label_tag "games_#{game_number}_#{player.id}", player.name, {class: 'button secondary expanded', id: "label_games_#{game_number}_#{player.id}"}
  %br
    .row
      .small-12.large-12.columns
        = submit_tag 'Submit', class: 'button expanded'
