= form_for(matchup) do |f|
  = hidden_field_tag :primary_id, matchup.primary_id
  = hidden_field_tag :secondary_id, matchup.secondary_id
  = hidden_field_tag :series_max, matchup.series_max
  - 1.upto(matchup.series_max) do |game_number|
    .row
      .small-1.columns
        %p
          = game_number
      .small-5.columns
        = radio_button("games", game_number, matchup.primary_id)
        = label_tag "games_#{game_number}_#{matchup.primary_id}", matchup.primary.name, {class: 'button secondary expanded', id: "label_games_#{game_number}_#{matchup.primary_id}"}
      .small-6.columns
        = radio_button("games", game_number, matchup.secondary_id)
        = label_tag "games_#{game_number}_#{matchup.secondary_id}", matchup.secondary.name, {class: 'button secondary expanded', id: "label_games_#{game_number}_#{matchup.secondary_id}"}
  %br
    .row
      .small-12.large-12.columns
        = submit_tag 'Submit', class: 'button expanded'
