.row
  .small-12.large-12.columns
    %h3.text-center
      - if @matchup.tournament
        = @matchup.tournament.name
      - else
        = "#{@matchup.primary.name}(#{@matchup.primary.rating}) vs #{@matchup.secondary.name}(#{@matchup.secondary.rating})"
.row
  .small-12.large-12.columns
    %h4.text-center
      Please mark winner of each game in order. Best of Five.
.row
  .small-12.large-12.columns
    = form_tag(@matchup, method: "put") do |f|
      - 1.upto(5) do |game_number|
        .row
          %p.small-1.columns
            = game_number
          - @matchup.players.each do |player|
            .small-5.large-4.columns
              = radio_button("games", game_number, player.id )
              = label_tag "games_#{game_number}_#{player.id}", player.name, {class: 'button secondary expanded', id: "label_games_#{game_number}_#{player.id}"}
      %br
        .row
          .small-12.large-12.columns
            = submit_tag 'Submit', class: 'button expanded'
