.row
  .small-12.large-12.columns
    .gameDetails
      %h2
        = "#{@matchup.winner.name} won!"
      %h3
        #{@matchup.primary.name}: rating is #{@matchup.primary.rating}
      %h3
        #{@matchup.secondary.name}: rating is #{@matchup.secondary.rating}
      - @matchup.games.each_with_index do |game, index|
        %p
          Game #{index + 1} winner: #{game.winner.name}
.row
  .small-6.large-6.columns
    - if @matchup.tournament
      %h3.text-center
        = link_to 'Back to Tournament',  @matchup.tournament,{class: 'button expand'}
    - else
      %h3.text-center
        = link_to 'Rematch', matchups_path(matchup: { primary_id: @matchup.primary_id, secondary_id: @matchup.secondary_id}), method: 'post', class: 'button expand'
  .small-6.large-6.columns
    %h3.text-center
      = link_to 'Undo Match', @matchup, method: :delete, class: 'alert button expand'
