.row
  .small-12.large-12.columns
    %table{width: '100%'}
      %caption.gameDetails.text-center
        = "#{@matchup.winner.name} won!"
        %p
          #{@matchup.primary.name}'s new rating is #{@matchup.primary.rating}
        %p
          #{@matchup.secondary.name}'s new rating is #{@matchup.secondary.rating}
      %thead
        %tr
          %th
            Game
          %th
            Humble Victor
          %th
            Graceful Defeated
      - @matchup.games.each_with_index do |game, index|
        %tr
          %td
            = index + 1
          %td
            = link_for game.winner
            = "(#{game.winner_rating})"
          %td
            = link_for game.loser
            = "(#{game.loser_rating})"
.row
  .small-6.large-6.columns
    - if @matchup.tournament
      %h3.text-center
        = link_to 'Back to Tournament',  @matchup.tournament,{class: 'button expanded'}
    - else
      %h3.text-center
        = link_to 'Rematch', new_matchup_path(primary_id: @matchup.primary_id, secondary_id: @matchup.secondary_id), class: 'button expanded'
  - if @matchup.can_undo?
    .small-6.large-6.columns
      %h3.text-center
        = link_to 'Undo Match', @matchup, method: :delete, class: 'alert button expanded'
