%tr{id: "game-#{game.id}", align: 'center'}
  %td.winner
    #{game.winner.name} (#{game.winner_rating})
  %td.loser
    #{game.loser.name} (#{game.loser_rating})
  %td.date
    = game.created_at.strftime("%I:%M %p %m/%d/%y")
