= form_for :game, url: games_path do |f|
  .row
    .small-10.columns
      = f.label :winner_id do
        Humble Victor
        = f.collection_select :winner_id, all_players, :id, :name, selected: last_winner_id
      = f.label :loser_id do
        Graceful Defeated
        = f.collection_select :loser_id, all_players , :id, :name, selected: last_loser_id
    .small-2.columns.vertical-center
      .swapButton
        %a.expanded{onClick: "swap()" }
          %i.fi-shuffle

  .row
    .small-6.columns
      = f.submit 'Update Ratings', class: 'button expanded'
    .small-6.columns
      = f.submit 'Best of Five', name: 'match', class: 'button expanded'
