%h3 Add Game
= form_for :game, url: games_path do |f|
  .row
    .small-12.large-12.columns
      = f.label :winner_id do
        Humble Victor
        = f.collection_select :winner_id, optimized_player_list, :id, :name, selected: last_winner_id

  .row
    .small-12.large-12.columns
      = f.label :loser_id do
        Graceful Defeated
        = f.collection_select :loser_id, optimized_player_list, :id, :name, selected: last_winner_id
  .row
    .small-12.large-12.columns
      = f.submit 'Update Ratings', class: 'button expand'
