%h2 Enter Results
= form_for :game, url: games_path do |f|
  %p
    = f.label :humble_victor
    %br
    = f.text_field :winner_name

  %p
    = f.label :graceful_defeated
    %br
    = f.text_field :loser_name 

  %p
    = f.submit 'Update Rating'

