%div{'data-role' => 'header'}
  %h2 Enter Results
%div{'data-role' => 'content'}
  = form_for :game, url: games_path do |f|
    %p
      = f.label :humble_victor
      %br
      = f.collection_select :winner_id, @players, :id, :name

    %p
      = f.label :graceful_defeated
      %br
      = f.collection_select :loser_id, @players, :id, :name

    %p
      = f.submit 'Update Ratings'

%div{"data-role" => "footer", "data-position"=>"fixed"}
  %div{"data-role"=> "navbar"}
    %ul
      %li
        = link_to "Home", :root, "data-icon" => "home"
      %li
        = link_to "Add Player", new_player_path, "data-icon" => "plus"
