%h3 Add Game

= form_for :game, url: games_path do |f|
  .row
    .small-12.large-6.columns
      = f.label :winner_id do
        Humble Victor
        = f.collection_select :winner_id, all_players, :id, :name

  .row
    .small-12.large-6.columns
      = f.label :loser_id do
        Graceful Defeated
        = f.collection_select :loser_id, all_players, :id, :name
  %p
    = f.submit 'Update Ratings', class: 'button'
