%h3 Game Summary

%p
  #{@game.winner.name} defeated #{@game.loser.name}
%p
  #{@game.winner.name}'s rating moves from #{@game.winner_rating} to #{@game.winner.rating}
%p
  #{@game.loser.name}'s rating moves from #{@game.loser_rating} to #{@game.loser.rating}

.row
  .small-6.columns
    = link_to 'Past Games', games_path, class: 'button'
  .small-6.columns
    - if @game.can_undo?
      = link_to 'Undo Game', @game, method: :delete, class: 'button alert'
