.row
  .large-6.columns
    .gameDetails.clearfix
      %h3
        %span.popIt
          = link_for @game.winner
        defeats
        %span.popIt
          = link_for @game.loser
      .float-left
        %p
          #{@game.winner.name}:
          %span.popIt
            #{@game.winner_rating}
          to
          %span.popIt
            #{@game.winner.rating}
        %p
          #{@game.loser.name}:
          %span.popIt
            #{@game.loser_rating}
          to
          %span.popIt
            #{@game.loser.rating}
      .float-right.some-padding
        - if @game.can_undo?
          = link_to 'Undo Game', @game, method: :delete, class: 'alert button small undoGame'

  .large-6.columns.show-for-large
    %table{width: '100%'}
      %thead
        %tr
          %th
            Rank
          %th
            Name
          %th
            Rating
          %th
            Won / Lost
      = render top_ten_players

.row
  .large-12.columns
    %br
    %h1 Add Another Game
    = render 'new_game_form'
