= render partial: 'players/profile_topbar'
-if @tournaments.present?
  - @tournaments.each do |tournament|
    -if tournament.has_playable_matches(@player) && !tournament.expired?
      %h3
        Remaining Matches in #{tournament.name}
      - tournament.matchups_for(@player).each do |matchup|
        = link_to "#{@player.name} vs #{matchup.opponent_of(@player).name}", edit_matchup_path(matchup), class: 'button secondary expanded'
  %table{width: '100%'}
    %caption
      Tournaments Played (#{@player.tournaments.count})
    %thead
      %tr
        %th
          Name
        %th
          End Date
        %th
          Total Players
        %th
          Type
        %th
          Final Rank
    - @tournaments.each do |tournament|
      %tr
        %td
          - if tournament.expired?
            = link_to tournament.name, tournament
          - else
            = link_to tournament.name, tournament
        %td
          = tournament.end_date.strftime("%m/%d/%y")
        %td
          = tournament.players.count
        %td
          = tournament.type.titleize
        %td
          = tournament.expired? || tournament.complete? ? tournament.rank_for(@player) : 'Playing'
-else
  = link_to 'Join a Tournament', tournaments_path, class: 'button expanded'
= paginate @tournaments, param_name: 'tournaments_page'
