%tr{id: "player-#{player.id}", align: 'center'}
  %td.rank
    = player_counter + 1
  %td.name
    = link_to player.name, player
  %td.rating
    = player.rating
  %td.won-lost
    = "#{player.games_won_count} / #{player.games_lost_count}"
