.row
  .column.small-6
    %p
      %strong
        Name:
      = @player.name
    %p
      %strong
        Highest Rating Achieved:
      = @player.highest_rating_achieved
    %p
      %strong
        Rating change today:
      %span.daily-rating-change
        = @player.daily_rating_change
        %i.rating-arrow
  .column.small-6
    %p
      %strong
        Current Rating:
      = @player.rating
    %p
      %strong
        Current Win Percent:
      = number_to_percentage @player.win_percentage, precision: 0
    %p
      %strong
        Average Rating Change:
      = @player.average_rating_change
.row
  .column
    %p
      %strong
        Play a Rematch
    - @player.top_five_opponents.each do |opp|
      = link_to "#{@player.name} vs #{opp.name}", matchups_path(matchup: { primary_id: @player.id, secondary_id: opp.id}), method: 'post', class: 'button expand'
