.show-for-small-only
  .profile-top-bar
    .row
      = link_to player_path(@player) do
        .column.small-3.with-border.shade-background
          %p.profile-link-text
            Profile
      = link_to player_games_path(@player) do
        .column.small-3.with-border
          %p.profile-link-text
            Games
      - if @player.clubs.empty?
        = link_to clubs_path do
          .column.small-3.with-border
            %p.profile-link-text
              Clubs
      - else
        = link_to club_path(@player.clubs.first) do
          .column.small-3.with-border
            %p.profile-link-text
              Clubs
      = link_to player_tournaments_path(@player) do
        .column.small-3.with-border
          %p.profile-link-text
            Tournaments

  .row.profile-circles
    .column.small-12
      .circle.big-circle.float-center
        %h1.center-of-circle
          = @player.rating
      %h1.text-center
        = @player.name

  .row
    .column.small-3
      .circle.little-circle.float-center
        %p.center-of-circle
          = @stats.average_rating
      %p.text-center Average
    .column.small-3
      .circle.little-circle.float-center
        %p.center-of-circle
          = @stats.highest_rating_achieved
      %p.text-center High
    .column.small-3
      .circle.little-circle.float-center
        %p.text-center.center-of-circle
          %span.daily-rating-change
            = @stats.daily_rating_change
            %i.rating-arrow
      %p.text-center Today
    .column.small-3
      .circle.little-circle.float-center
        %p.center-of-circle
          = number_to_percentage @stats.win_percentage, precision: 0
      %p.text-center Percent

  - if @stats.todays_games.count > 0
    .row
      .column.small-12.with-border
        = render 'daily_games', stats: @stats
  - else
    .row
      = link_to player_ratings_path(@player) do
        .column.small-12.rating-over-time
          %canvas#rating-over-time-graph{'data-player-id' => @player.id, 'data-limit' => 10 }

  .row
    .column
      %p
        %strong
          Play a Rematch
      - @stats.top_ten_opponents.each do |opp|
        = player_and_opponent_link(@player, opp)
