.profile-top-bar
  .row
    = link_to player_path(@player) do
      .column.small-3.with-border.profile-home
        %p.profile-link-text
          Profile
    = link_to player_games_path(@player) do
      .column.small-3.with-border.profile-games
        %p.profile-link-text
          Games
    - if @player.clubs.empty?
      = link_to clubs_path do
        .column.small-3.with-border.profile-clubs
          %p.profile-link-text
            Join a Club
    - else
      = link_to player_clubs_path(@player) do
        .column.small-3.with-border.profile-clubs
          %p.profile-link-text
            Clubs
    = link_to player_tournaments_path(@player) do
      .column.small-3.with-border.profile-tournaments
        %p.profile-link-text
          Tournaments

:javascript
  var element;
  switch(window.location.pathname.split('/')[3]){
    case 'games':
      element = document.getElementsByClassName("profile-games")[0]
      break;
    case 'clubs':
      element = document.getElementsByClassName("profile-clubs")[0]
      break;
    case 'tournaments':
      element = document.getElementsByClassName("profile-tournaments")[0]
      break;
    default:
      element = document.getElementsByClassName("profile-home")[0]
  }
  element.classList.add('shade-background');

