%div{'data-role' => 'header'}
  %h2 Add Player
%div{'data-role' => 'content'}
  = form_for :player, url: players_path do |f|
    %p
      = f.label :name
      %br
      = f.text_field :name

    %p.hidden
      = f.number_field :rating, value: 1000

    %p
      = f.submit
%div{"data-role" => "footer", "data-position"=>"fixed"}
  %div{"data-role"=> "navbar"}
    %ul
      %li
        = link_to "Home", :root, "data-icon" => "home"
:javascript
  $('.hidden').hide();
