%h4 Profile

%p
  %strong
    Name:
  = @player.name
%p
  %strong
    Rating:
  = @player.rating
%p
  %strong
    Highest Rating Achieved:
  = @player.highest_rating_achieved
= render 'game_info'
= render 'tournament_info'
