.main-content
  %h4 Profile

  %p
    %strong
      Name:
    = @player.name
  %p
    %strong
      Rating:
    = @player.rating

  %h4 Games Played (#{@player.games_played_count})

  %table{width: '100%'}
    %thead
      %tr
        %th
          Humble Victor
        %th
          Graceful Defeated
        %th
          Date
    %tbody
      = render @player.games
.new-game.hide
  = render 'games/new_game_form'
