%h4 Profile

= link_to 'Claim your account', new_player_accounts_path(@player.id), class: 'button right'

%p
  %strong
    Name:
  = @player.name
%p
  %strong
    Rating:
  = @player.rating

%h4 Games Played (#{@player.games_played_count})

%table{width: '100%'}
  %thead
    %tr
      %th
        Humble Victor
      %th
        Graceful Defeated
      %th
        Date
  %tbody
    = render @player.games
