%div.orange-bar
.contain-to-grid
  %nav.top-bar{"data-topbar" => ""}
    %ul.title-area
      %li.name
        %h1
          = link_to ELO_APP_NAME, root_path
    %section.top-bar-section
      %ul.right
        %li.divider
        %li
          = link_to "Past Games", games_path
        %li.divider
        %li
          = link_to "Add Games", new_game_path
        %li.divider
        %li
          = link_to "Tournaments", tournaments_path
        %li.divider
        %li
          = link_to "Add Player", new_player_path
        %li.divider
