!!!
%html
  %head
    %title Ace Ping Pong
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css", :rel => "stylesheet"}
    %meta{:content => "initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width", :name => "viewport"}
    %meta{:content => "Asynchrony Ping Pong Players App", :name => "description"}
    %meta{:content => "Ace Ping Pong", :name => "apple-mobile-web-app-title"}
    %meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "yes", :name => "mobile-web-app-capable"}

    -#%link{:href => "img/loading.png", :rel => "apple-touch-startup-image"}
    %link{:href => image_path("apple-touch-icon-57x57.png"), :rel => "apple-touch-icon", :sizes => "57x57"}
    %link{:href => image_path("apple-touch-icon-60x60.png"), :rel => "apple-touch-icon", :sizes => "60x60"}
    %link{:href => image_path("apple-touch-icon-72x72.png"), :rel => "apple-touch-icon", :sizes => "72x72"}
    %link{:href => image_path("apple-touch-icon-76x76.png"), :rel => "apple-touch-icon", :sizes => "76x76"}
    %link{:href => image_path("apple-touch-icon-114x114.png"), :rel => "apple-touch-icon", :sizes => "114x114"}
    %link{:href => image_path("apple-touch-icon-120x120.png"), :rel => "apple-touch-icon", :sizes => "120x120"}
    %link{:href => image_path("apple-touch-icon-144x144.png"), :rel => "apple-touch-icon", :sizes => "144x144"}
    %link{:href => image_path("apple-touch-icon-152x152.png"), :rel => "apple-touch-icon", :sizes => "152x152"}
    %link{:href => image_path("apple-touch-icon-180x180.png"), :rel => "apple-touch-icon", :sizes => "180x180"}
    %link{:href => image_path("favicon-32x32.png"), :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => image_path("android-chrome-192x192.png"), :rel => "icon", :sizes => "192x192", :type => "image/png"}
    %link{:href => image_path("favicon-96x96.png"), :rel => "icon", :sizes => "96x96", :type => "image/png"}
    %link{:href => image_path("favicon-16x16.png"), :rel => "icon", :sizes => "16x16", :type => "image/png"}
    %link{:href => image_path("manifest.json"), :rel => "manifest"}

    = javascript_include_tag 'vendor/modernizr'
  %body
    %div.orange-bar
    .contain-to-grid
      %nav.top-bar{"data-topbar" => ""}
        %ul.title-area
          %li.name
            %h1
              = link_to "Ace Ping Pong", root_path
        .top-bar-section
        %section.top-bar-section
          %ul.right
            %li.divider
            %li
              = link_to "Past Games", games_path
            %li.divider
            %li
              = link_to "Add Games", new_game_path
            %li.divider
            %li
              = link_to "Add Player", new_player_path
            %li.divider

    .row
      .large-12.columns
        - if flash[:notice]
          .alert-box.success{'data-alert' => true}
            = flash[:notice]
            %a.close{href: "#"} &times;

        - if flash[:alert]
          .alert-box.alert{'data-alert' => true}
            = flash[:alert]
            %a.close{href: "#"} &times;
        .container
          = yield

    .icon-bar.four-up#footer.show-for-small-only
      %a.item{href: games_path, "aria-labelledby" => "#itemlabel1"}
        %i.fi-arrow-left
        %label#itemlabel1 Past Games
      %a.item{href: new_game_path, "aria-labelledby" => "#itemlabel2"}
        %i.fi-trophy
        %label#itemlabel2 Add Game
      %a.item{href: root_path, "aria-labelledby" => "#itemlabel3"}
        %i.fi-home
        %label#itemlabel3 Home
      %a.item{href: new_player_path, "aria-labelledby" => "#itemlabel4"}
        %i.fi-plus
        %label#itemlabel5 New Player

    = javascript_include_tag 'application'
