!!!
%html
  %head
    %title Ace Ping Pong
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css", :rel => "stylesheet"}
    
    = javascript_include_tag 'vendor/modernizr'
  %body
    %div.orange-bar
    .contain-to-grid
      %nav.top-bar{"data-topbar" => ""}
        %ul.title-area
          %li.name
            %h1
              = link_to "Ace Ping Pong", root_path
    .row
      .large-12.columns
        - if flash[:notice]
          .alert-box.success{'data-alert' => nil}
            = flash[:notice]
            %a.close{href: "#"} &times;

        - if flash[:alert]
          .alert-box.alert{'data-alert' => nil}
            = flash[:alert]
            %a.close{href: "#"} &times;
        .container
          = yield

    .icon-bar.four-up#footer
      %a.item{href: games_path, "aria-labelledby" => "#itemlabel3"}
        %i.fi-arrow-left
        %label#itemlabel3 Past Games
      %a.item{href: new_game_path, "aria-labelledby" => "#itemlabel2"}
        %i.fi-trophy
        %label#itemlabel2 Add Game
      %a.item{href: root_path, "aria-labelledby" => "#itemlabel1"}
        %i.fi-home
        %label#itemlabel1 Home
      %a.item{href: new_player_path, "aria-labelledby" => "#itemlabel4"}
        %i.fi-plus
        %label#itemlabel5 New Player

    = javascript_include_tag 'application'
