!!!
%html
  %head
    %title Ace Ping Pong
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
  %body
    .contain-to-grid
      %nav.top-bar{"data-topbar" => ""}
        %ul.title-area
          %li.name
            %h1
              = link_to "Ace Ping Pong", root_path
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span menu
        %section.top-bar-section
          %ul.right
            %li.divider
            %li
              = link_to "Players", players_path
            %li.divider
            %li
              = link_to "Games", games_path
            %li.divider

    .row
      .large-12.columns
        - if flash[:notice]
          .alert-box.success{'data-alert' => nil}
            = flash[:notice]
            %a.close{href: "#"} &times;

        - if flash[:alert]
          .alert-box.alert{'data-alert' => nil}
            = flash[:alert]
            %a.close{href: "#"} &times;

        = yield

    %footer
      #footer
        .icon-bar.four-up{:role => "navigation"}
          %a.item{href: root_path, "aria-labelledby" => "#itemlabel1"}
            %p.icon
              = image_tag("img/fi-home.svg", :style => 'red')
              %label#itemlabel1 Home
          %a.item{href: new_game_path, "aria-labelledby" => "#itemlabel2"}
            %p.icon
              = image_tag("img/fi-bookmark.svg")
              %label#itemlabel2 Add Game
          %a.item{href: games_path, "aria-labelledby" => "#itemlabel3"}
            %p.icon
              = image_tag("img/fi-info.svg")
              %label#itemlabel3 Past Games
          %a.item{href: new_player_path, "aria-labelledby" => "#itemlabel4"}
            %p.icon
              = image_tag("img/fi-like.svg")
              %label#itemlabel5 New Player
        =# link_to 'Add Player', new_player_path, class: 'item'
        =# link_to 'Home', root_path, class: 'item'
        =# link_to 'Past Games', games_path, class: 'item'
        =# link_to 'Add Game', new_game_path, class: 'item'

    = javascript_include_tag 'application'
