!!!
%html
  %head
    %title Ace Ping Pong
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
  %body
    %div{"data-role" => "page", "data-url" => request.path}
      - if flash[:notice]
        .flash-notice= flash[:notice]
      - if flash[:alert]
        .flash-alert= flash[:alert]

      %br
        = yield

    = javascript_include_tag 'application'
