!!!
%html
  %head
    %title Ace Ping Pong
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'vendor/modernizr'
  %body
    .contain-to-grid
      %nav.top-bar{"data-topbar" => ""}
        %ul.title-area
          %li.name
            %h1
              = link_to "Ace Ping Pong", root_path
          %li.toggle-topbar.menu-icon
            %a{:href => "#"}
              %span menu
        %section.top-bar-section
          %ul.right
            %li.divider
            %li
              = link_to "Players", players_path
            %li.divider
            %li
              = link_to "Games", games_path
            %li.divider

    .row
      .large-12.columns
        - if flash[:notice]
          .alert-box.success{'data-alert' => nil}
            = flash[:notice]
            %a.close{href: "#"} &times;

        - if flash[:alert]
          .alert-box.alert{'data-alert' => nil}
            = flash[:alert]
            %a.close{href: "#"} &times;

        = yield

    %footer.row
      .large-12.columns
        %hr
          .row
            .large-12.columns
              %p by Daniel Errante / Erik Olsen

    = javascript_include_tag 'application'
